# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
build/
dist/

# Next.js runtime logs & cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*.local
.env

# System / IDE
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
.vscode/
.idea/
